@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

html {
  scroll-behavior: smooth;
}

html {
  font-family: Rubik, sans-serif;
  font-weight: 300;
  margin: 0px;
  font-size: large;
  color: grey;
  background-image: linear-gradient(90deg, #00B0F0, #b338ff);
}

.header-section {
  padding: 80px;
  color: white;
}

.header-name {
  font-size: xx-large;
  font-weight: 700;
}

.tabbed {
  margin-left: 1em;
  opacity: 62.5%;
  width: 40vw;
}